from .dm import *

structure = [n_chans_in, 32, 48, 48, 64]

model_core = nn.Sequential(
    inner,
    *compose_blocks([128, 64, 32], get_block=partial(ConvBlock3d, kernel_size=1, get_activation=get_activation)),
    nn.BatchNorm3d(32),
    get_activation(),
    nn.Conv3d(32, n_chans_out, kernel_size=1),
    nn.BatchNorm3d(n_chans_out),
)
