ids = meta.from_json
    path = ids_path

dataset = dataset_wrapper.cached
    dataset = dataset_wrapper.normalized
        mean = false
        std = true
        drop_percentile = null

        dataset = dataset_wrapper.bbox_extraction
            dataset = dataset.brats2017(data_path = data_path)

